asgiref==3.2.5
astroid==2.4.2
attrs==19.3.0
autobahn==20.6.2
Automat==20.2.0
backports.functools-lru-cache==1.6.1
certifi==2019.11.28
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
click==7.1.2
ConfigArgParse==1.1
constantly==15.1.0
cryptography==2.8
daphne==2.5.0
Django==3.0.8
djangorestframework==3.11.0
docopt==0.6.2
editdistance==0.5.3
fastBPE==0.1.0
future==0.18.2
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
indic-transliteration==1.9.6
isort==4.3.21
joblib==0.16.0
jsonfield==3.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
mosestokenizer==1.1.0
nltk==3.5
numpy==1.18.2
openfile==0.0.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pylint==2.5.3
pyOpenSSL==19.1.0
pytz==2019.3
regex==2020.6.8
requests==2.23.0
selenium==3.141.0
sentencepiece==0.1.85
service-identity==18.1.0
six==1.14.0
splinter==0.13.0
sqlparse==0.3.1
subword-nmt==0.3.7
toml==0.10.1
toolwrapper==2.1.0
torch==1.1.0
torchtext==0.5.0
tqdm==4.43.0
Twisted==22.4.0
txaio==20.4.1
typed-ast==1.4.1
uctools==1.3.0
urllib3==1.25.8
wrapt==1.12.1
zope.interface==5.0.0
