{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}
Dashboard
{% endblock %}
<script>
</script>
<div class="row">
  <div class="col">
    <div class="shadow p-3 my-5 bg-white rounded carder">
      <div class="card-body">
        <h4>Welcome, {{ request.user.translator.name }}</h4>
        <h5>
            Translation Languages:
        </h5>
        <ul>
        {% for langpairs in request.user.translator.translatorlangs.all %}
          <li>{{ langpairs.langtolang }}</li>
        {% endfor %}
        </ul>
        Welcome to the Translation Study! We are excited to have you!!!
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="shadow p-3 mb-5 bg-white rounded carder">
      <div class="card-body">
        <h4>Instruction Video</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_tWtFnf-RCU" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{% endblock  %}


<style>
  .box{
    color: brown;
    background-color: blue;
    padding:150px; 
  }

  .card{
    outline: 20px;
    background-color: turquoise;
    outline-color: black;
  }

</style>

