{% load static %}

<html>
    <title>Interactive Neural Machine Translation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <body>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="container">
      <h1 class="display-4 text-center py-5">Interactive Neural Machine Translation</h1>
      <img src="{% static 'inmt.png' %}" class="img-fluid">
      <div class="row py-5">
        <div class="col">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Demo Video</h5>
              <img src="{% static 'youtube.svg' %}" class="img-fluid mx-auto d-block py-3" style="width: 40%;">
              <p class="text-muted">How INMT works!<br><a target="_blank" href="https://youtu.be/DHan93R8d84">youtu.be/DHan93R8d84</a></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Live Demo</h5>
              <img src="{% static 'demo.svg' %}" class="img-fluid mx-auto d-block py-3" style="width: 40%;">
              <p class="text-muted">Try it yourself!<br><a target="_blank" href="/simple">/simple</a></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Demo Paper</h5>
              <img src="{% static 'paper.svg' %}" class="img-fluid mx-auto d-block py-3" style="width: 40%;">
              <p class="text-muted">EMNLP'19 [System Demo]<br><a target="_blank" href="https://www.aclweb.org/anthology/D19-3018/">anthology/D19-3018</a></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Code on Github</h5>
              <img src="{% static 'github.svg' %}" class="img-fluid mx-auto d-block py-3" style="width: 40%;">
              <p class="text-muted">Open Sourced under MIT<br><a target="_blank" href="https://github.com/microsoft/inmt">microsoft/inmt</a></p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-center pt-5">Team</h2>
    
      <div class="row text-center pt-5">
        <div class="col">
          <h5>Sebastin Santy</h5>
          <h6 class="text-muted">AI Center Fellow</h6>
        </div>
        <div class="col">
          <h5>Kalika Bali</h5>
          <h6 class="text-muted">Principal Researcher</h6>
        </div>
        <div class="col">
          <h5>Monojit Choudhury</h5>
          <h6 class="text-muted">Principal Researcher</h6>
        </div>
        <div class="col">
          <h5>Sandipan Dandapat</h5>
          <h6 class="text-muted">Principal Applied Researcher</h6>
        </div>
      </div>
      <div class="row text-center py-4">
        <div class="col">
          <h5>Tanuja Ganu</h5>
          <h6 class="text-muted">Principal RSDE Manager</h6>
        </div>
        <div class="col">
          <h5>Santosh Kale</h5>
          <h6 class="text-muted">UI/UX Designer</h6>
        </div>
      </div>
      <div class="row text-center py-4">
        <div class="col">
          <h5 class="text-muted text-center"> Microsoft Research, Bangalore & Microsoft R&D, Hyderabad </h5>
        </div>
      </div>

      </div>
    </div>
  </body>
</html>