{% extends 'base.html' %}

{% load static %}

{% block title %}
Translate
{% endblock %}

{% block desc %}
Please translate according the instructions
{% endblock %}

{% block js %}
    <link rel="stylesheet" type="text/css"href="{% static 'translation-page-mt.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script type=text/javascript>


  // var selectsingle =  {{ selectedControlScheme.select_single_word_from_suggestion }}
  // var selectentire = {{ selectedControlScheme.select_entire_suggestion }}
  // var navnext = {{ selectedControlScheme.navigate_to_next_corpus_fragment }}
  // var navprev = {{ selectedControlScheme.navigate_to_previous_corpus_fragment }}
  // var submit = {{ selectedControlScheme.submit_translation }}
  // var selectnextsug = {{ selectedControlScheme.select_next_translation_suggestion }}
  // var selectprevsug = {{ selectedControlScheme.select_previous_translation_suggestion }}
  // var controlname = "{{ selectedControlScheme }}"

  // var SELECT_SINGLE_WORD_FROM_SUGGESTION_KEY = default_key_commands[0];
  // var SELECT_ENTIRE_SUGGESTION = selectentire? selectentire: default_key_commands[1];
  // var SELECT_NEXT_TRANSLATION_SUGGESTION = selectnextsug? selectnextsug: default_key_commands[2];
  // var SELECT_PREVIOUS_TRANSLATION_SUGGESTION = selectprevsug? selectprevsug: default_key_commands[3];
  // var NAVIGATE_TO_NEXT_CORPUS_FRAGMENT = navnext? navnext: default_key_commands[4];
  // var NAVIGATE_TO_PREVIOUS_CORPUS_FRAGMENT = navprev? navprev: default_key_commands[5];
  // var SUBMIT_TRANSLATION = submit? submit: default_key_commands[6];
  // var CONTROL_SCHEME_NAME = controlname? controlname : "default";

var default_key_commands = [9, 13, 40, 38, 34, 33, 35]
var SELECT_SINGLE_WORD_FROM_SUGGESTION_KEY = default_key_commands[0];
var SELECT_ENTIRE_SUGGESTION = default_key_commands[1];
var SELECT_NEXT_TRANSLATION_SUGGESTION = default_key_commands[2];
var SELECT_PREVIOUS_TRANSLATION_SUGGESTION = default_key_commands[3];
var NAVIGATE_TO_NEXT_CORPUS_FRAGMENT = default_key_commands[4];
var NAVIGATE_TO_PREVIOUS_CORPUS_FRAGMENT = default_key_commands[5];
var SUBMIT_TRANSLATION = default_key_commands[6];
var CONTROL_SCHEME_NAME = "default";

var sockets_use = {{ sockets|yesno:"true,false" }};
var system_type = "{{ helpprovision|safe }}"

var csrf_token = '{{ csrf_token }}';

var socket_translate = '/ws/simple/translation-socket';
var http_translate = '/translate_new';
var http_getinput = '/getinput';
var http_pushoutput = '/pushoutput';
var http_preview = '/preview';

</script>
    <script type="text/javascript" src="{% static 'translation.js' %}"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
  window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<div class="container">
  <div id="translate-interface" class="row pt-5 pb-3">
    <div class="col-5">
      <ul class="nav nav-pills pb-2">
        <li class="nav-item">
          <a id="nav-source" class="nav-link" href="/corpus">Select Corpus</a>
        </li>
        <li class="nav-item">
          <a id="nav-source" class="nav-link active" href="#">Source</a>
        </li>
      </ul>
    </div>
    <div class="col-7">
      <ul class="nav nav-pills pb-2" id="previewswitch">
        <li class="nav-item">
          <a id="nav-translate" class="nav-link active" href="#">Translate</a>
        </li>
        <li class="nav-item">
          <a id="nav-preview" class="nav-link" href="#">Preview</a>
        </li>
        <li class="nav-item pl-5">
          <label for="highlight">Highlight? &nbsp; </label>
          <input id="highlight" type="checkbox" data-toggle="toggle">
        </li>
      </ul>
    </div>
  </div>
    <div class="row">
      <div class="col-5 left">
        <div id="corpus-side">
          <div id="corpusinput" class="shadow p-3 my-3 rounded carder">
          </div>
        </div>
      </div>
      <div class="col-7 right">
        <div id="interactive">


          <div id="cardscoll"></div>
          <div id="cardsprev" style="display:none">
            <div id="corpusoutput" class="shadow p-3 my-3 rounded carder">
            </div>
            <a id="submittrans" class="btn btn-primary text-light"> <i class="fa fa-save"></i> &nbsp; Save Translation</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
