{% extends 'base.html' %}

{% block title %}
Corpus
{% endblock %}

{% block desc %}
Please select the corpus you want to translate!
{% endblock %}

{% block content %}
<div class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        
      </div>
    </div>
    <span>&nbsp;&nbsp;Loading Translator. Please wait ...</span>
  </div>

<div class="row">
  <div class="col s10">
      
  <ul class="pagination">
      <li class="disabled waves-effect"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      <li class="active blue-grey"><a href="/corpus" class="white-text">Corpus</a></li>
      <li class="waves-effect"><a href="/translate" class="white-text">Translate</a></li>
      <li class="waves-effect"><a href="/preview" class="white-text">Submission Preview</a></li>
      <li class="waves-effect"><a href="/translate" class="white-text"><i class="material-icons">chevron_right</i></a></li>
    </ul>
              
    
                {% for corp in corpus %}
                <div class="card bmo">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s7">
                        <p style="font-weight:600; font-size: large">{{ corp.name }}</p>
                        <p>{{ corp.langtolang }}</p>
                      </div>
                      <div class="col s1">
                        {% if corp.condition == 2 %}
                          <span class="new badge green" data-badge-caption="Done"></span>
                        {% endif %}
                        {% if corp.condition == 1 %}
                          <span class="new badge yellow" data-badge-caption="Incomplete"></span>
                        {% endif %}
                        {% if corp.condition == 0 %}
                          <span class="new badge red" data-badge-caption="Pending"></span>
                        {% endif %}                      
                      </div>
                      <div class="col s1">
                          
                      </div>
                      <div class="col s4">
                          {% if corp.condition != 0 %}
                          <a data-corpid="{{ corp.id }}" data-langtolangid="{{ corp.langtolangid }}" class="transdelete waves-effect waves-light btn blue-grey"><i class="material-icons">delete_outline</i></a>
                          {% else %}
                          <a data-corpid="{{ corp.id }}" data-langtolangid="{{ corp.langtolangid }}" class="transdelete waves-effect waves-light btn blue-grey" disabled><i class="material-icons">delete_outline</i></a>
                          {% endif %}
                          <a data-corpid="{{ corp.id }}" data-langtolangid="{{ corp.langtolangid }}" class="corptrans waves-effect waves-light btn blue-grey"><i class="material-icons right">send</i>translate</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
        
  </div>
</div>
    <!--work collections end-->
    
    <!-- //////////////////////////////////////////////////////////////////////////// -->
  </div>
  <!--end container-->
</section>
<style>
  .preloader-background {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;	
      }
</style>
{% endblock  %}

{% block js %}
<script>
  $(document).ready(function () {
            $('.corptrans').click(function(){
              $('.preloader-background').css('display', 'flex')
              console.log($(this).data("corpid"))
                $.post('/corpusinput', {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    corpid: $(this).data("corpid"),
                    langtolangid: $(this).data("langtolangid"),
                }, function(data) {
                    // console.log(data.result);
                    window.location.href='/translate';
                });
            })

            $('.transdelete').click(function(){
              console.log($(this).data("corpid"))
                $.getJSON('/transdelete', {
                    corpid: $(this).data("corpid"),
                    langtolangid: $(this).data("langtolangid"),
                }, function(data) {
                    // console.log(data.result);
                    location.reload(true);
                });
            })
        });
</script>
{% endblock %}