{% extends 'base.html' %}

{% block title %}
Corpus
{% endblock %}

{% block desc %}
Please select the corpus you want to translate!
{% endblock %}

{% block content %}
<div class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        
      </div>
    </div>
    <span>&nbsp;&nbsp;Loading Translator. Please wait ...</span>
  </div>
<div class="container">
<div class="row">
  <div class="col">
    <div id="translate-interface" class="row pt-5 pb-3">
      <div class="col-5">
        <ul class="nav nav-pills pb-2">
          <li class="nav-item">
            <a id="nav-source" class="nav-link active" href="#">Select Corpus</a>
          </li>
          <li class="nav-item">
            <a id="nav-source" class="nav-link" href="/translate">Source</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="corpi">
    {% for corp in corpus %}
    <div class="row">
      <div class="col-9">
        {% if corp.condition == 2 %}
          <div class="shadow p-2 mt-3 rounded" style="background-color: rgba(76, 175, 80,0.4)">
        {% endif %}
        {% if corp.condition == 1 %}
        <div class="shadow p-2 mt-3 rounded" style="background-color: rgba(255, 152, 0,0.4)">
        {% endif %}
        {% if corp.condition == 0 %}
        <div class="shadow p-2 mt-3 rounded" style="background-color: rgba(255, 235, 59,0.4)">
        {% endif %}
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <p style="font-weight:600; font-size: large">{{ corp.name }}</p>
                <p>{{ corp.langtolang }}</p>
              </div>
              <div class="col-4 text-center">
                {% if corp.condition != 0 %}
                  <!-- <a data-corpid="{{ corp.id }}" data-langtolangid="{{ corp.langtolangid }}" class="transdelete btn btn-danger"> <i class="fa fa-trash-o fa-lg"></i></a> -->
                  {% else %}
                  <!-- <a data-corpid="{{ corp.id }}" data-langtolangid="{{ corp.langtolangid }}" class="transdelete btn btn-secondary disabled"> <i class="fa fa-trash-o fa-lg"></i></a> -->
                  {% endif %}
                  <!-- <a data-preview="true" data-corpid="{{ corp.id }}" data-langtolangid="{{ corp.langtolangid }}" class="corptrans btn btn-info"> <i class="fa fa-search"></i> View</a> -->
                  <a data-preview="false" data-corpid="{{ corp.id }}" data-langtolangid="{{ corp.langtolangid }}" class="corptrans btn btn-dark text-white"> <i class="fa fa-language"></i> Translate</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
  </div>
</section>
<style>
  .preloader-background {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;	
      }

  .corpi {
          height: 80vh;
          overflow: hidden;
          overflow-y: scroll;
      }
</style>
{% endblock  %}

{% block js %}
<script>
  $(document).ready(function () {
            $('.corptrans').click(function(){
              $('.preloader-background').css('display', 'flex')
              console.log($(this).data("corpid"))
                $.post('/corpusinput', {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    corpid: $(this).data("corpid"),
                    langtolangid: $(this).data("langtolangid"),
                }, function(data) {
                    // console.log(data.result);
                    window.location='/translate';
                });
            })

            $('.transdelete').click(function(){
              console.log($(this).data("corpid"))
                $.getJSON('/transdelete', {
                    corpid: $(this).data("corpid"),
                    langtolangid: $(this).data("langtolangid"),
                }, function(data) {
                    // console.log(data.result);
                    location.reload(true);
                });
            })
        });
</script>
{% endblock %}