/*----------------------------------------
Cards
------------------------------------------*/

.card {
	overflow:hidden;
}
#card-stats {
	.card-content {
		text-align: center;
	}
	.card-stats-title {
		font-size: 1rem;
		i {
			font-size: 1.2rem;
			top: 4px;
			position: relative;
		}
	}
	.card-stats-compare {
		font-size: 1.0rem;
		i {
			position: relative;
			top: 5px;
		}
	}
	.card-stats-number {
		font-size: 1.8rem;
		line-height: 2.0rem;
		margin: 0.2rem 0 0.2rem 0;
		font-weight: 500;
	}
	.card {
		.card-content {
			padding: 10px 14px;
		}
		.card-action {
			padding: 10px 14px;
		}
	}
}
/* alert card */
#card-alert {
	.card-content{
		padding: 10px 20px;
	}
	i {
		font-size: 20px;
		position: relative;
		top: 2px;
	}
	.alert-circle {
		display: inline-block;
		width: 40px;
		white-space: nowrap;		
		border-radius: 1000px;
		vertical-align: bottom;
		position: relative;
		top: -5px;
		left: -2px;
	}
	.single-alert {
		line-height: 42px;
	}
	button {
		background: none;
		border: none;
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 20px;
		color: $white;
	}
	.card .card-content {
		padding: 20px 40px 20px 20px;
	}
	.card-action i {
		top: 0;
		margin: 0;
	}
}

/* work card */

#work-collections {
	.collection-header {
		font-size: 1.14rem;
		font-weight: 500;
	}
	p {
		&.collections-title {
			font-size: 1.0rem;
			padding: 0;
			margin: 0;
			font-weight: 500;
		}
		&.collections-content {
			font-size: 0.9rem;
			padding: 0;
			margin: 0;
			font-weight: 400;
		}
	}
	.collection-item.avatar {
		height: auto;
		padding-top: 22px;
	}
}

/* flight card */

#flight-card {
	.flight-card-title {
		margin: 0;
		font-weight: 300;
		color:#fff;
	}
	.flight-card-date {
		font-size: 1.0rem;
		margin: 0;
		color:#fff;
	}
	.flight-state {
		padding-bottom: 15px;
	}
	.flight-state-two {
		border-left: 1px dashed color("grey","lighten-1");
	}
	.flight-icon {
		font-size: 2.2rem;
		display: block;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	}
	.card-content-bg {
		background: url('../../images/gallary/3.png') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.card-content {
		background: rgba(0, 0, 0, 0.25);
	}
	.flight-state-wrapper {
		margin: 0 0 100px 0 !important;
	}
	.card-header .card-title {
		padding: 20px;
	}
}

/* task card */

#task-card {
	label {
		display: block;
		color: rgba(0, 0, 0, 0.87);
		height: auto;
	}
	.task-card-title {
		margin: 0;
		color: $white;
		font-weight: 300;
	}
	.task-card-date {
		font-size: 1.0rem;
		margin: 0;
		color: $white;
	}
	.collection-header {
		padding: 20px;
	}
	.task-add {
		position: absolute;
		right: 10px;
		top: 76px;
	}
	.task-cat {
		padding: 2px 4px;
		color: $white;
		margin-left: 37px;
		font-weight: 300;
		font-size: 0.8rem;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;		
		border-radius: 2px;		
		background-clip: padding-box;
	}
}
.task-cat {
	padding: 2px 4px;
	color: $white;
	font-weight: 300;
	font-size: 0.8rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;	
	border-radius: 2px;	
	background-clip: padding-box;
}
.collection .collection-item.avatar i.circle {
	font-size: 28px;
}
/* profile card */
#profile-card {
	.card-image {
		height: 150px;
	}
	.card-profile-image {
		width: 70px;
		position: absolute;
		top: 110px;
		z-index: 1;
		cursor: pointer;
	}
	.btn-move-up {
		position: relative;
		top: -40px;
		right: -18px;
		margin-right: 10px !important;
	}
	.card-content p {
		font-size: 1.2rem;
		margin: 10px 0 12px;
	}
}
.card-move-up .move-up {
	padding: 20px;
}

.black-overlay{
	background-color:rgba(0, 0, 0, 0.42) !important;
}

.bg-image-1{
	background-image: url("../../images/cards/macbook.png");
	width:100%;
	background-size: cover;
}
.bg-image-2{
	background-image: url("../../images/cards/iphone.png");
	width:100%;
	background-size: cover;
}
.bg-image-3{
	background-image: url("../../images/cards/applewatch.png");
	width:100%;
	background-size: cover;
}