/*----------------------------------------
    Pre-loader
------------------------------------------*/

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	.loader-section {
		position: fixed;
		top: 0;
		width: 51%;
		height: 100%;
		background: $pre_loader_bg;
		z-index: 1000;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);		
		transform: translateX(0);
		&.section-left {
			left: 0;
		}
		&.section-right {
			right: 0;
		}
	}
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;	
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: $pre_loader_color_1;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 1001;
	&:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;		
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: $pre_loader_color_2;
		-webkit-animation: spin 3s linear infinite;
		animation: spin 3s linear infinite;
	}
	&:after {
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;		
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: $pre_loader_color_3;
		-webkit-animation: spin 1.5s linear infinite;
		animation: spin 1.5s linear infinite;
	}
}
#loader-logo {
	display: block;
	position: absolute;
	left: 48%;
	top: 46%;
	background: url('../../images/avatar/avatar-2.png') no-repeat center center;
	z-index: 1001;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);		
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);		
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);		
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);		
		transform: rotate(360deg);
	}
}
.loaded {
	#loader-wrapper {
		visibility: hidden;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);		
		transform: translateY(-100%);
		-webkit-transition: all 0.3s 1s ease-out;		
		transition: all 0.3s 1s ease-out;
		.loader-section {
			&.section-left {
				-webkit-transform: translateX(-100%);
				-ms-transform: translateX(-100%);				
				transform: translateX(-100%);
				-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);				
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
			&.section-right {
				-webkit-transform: translateX(100%);
				-ms-transform: translateX(100%);				
				transform: translateX(100%);
				-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);				
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
		}
	}
	#loader {
		opacity: 0;
		-webkit-transition: all 0.3s ease-out;		
		transition: all 0.3s ease-out;
	}
}
.progress {
	background-color: rgba(255, 64, 129, 0.22);
}

/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}